@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using StundenplanImport.Model.GesaHu;
@using StundenplanImport.Model;

<table class="table table-bordered timetable">
    <thead>
        <tr>
            <th></th>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int lessonRow = 0; lessonRow < 10; lessonRow++)
            {
                <tr>
                    <td>@(lessonRow + 1)</td>
                    @for(int dayColumn = 0; dayColumn < 5; dayColumn++)
                    {
                        bool hasLesson = false;
                        var lessons = (List<Lesson>)ViewData["Lessons"];
                        var classes = (List<Class>)ViewData["Classes"];
                        var kind = (TimetableKind)ViewData["Kind"];
                        foreach (var lesson in lessons)
                        {
                            var dayOfWeek = (DayOfWeek)((int)DayOfWeek.Monday + dayColumn);
                            if (lesson.DayOfWeek == dayOfWeek && lesson.Number == lessonRow)
                            {
                                    <td rowspan="@lesson.Duration.ToString()">
                                        <a href="javascript:void(0)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                        <span class="subject">@lesson.Name<br />@((kind == TimetableKind.Teacher) ? lesson.SchoolClass : lesson.Teacher)</span>
                                        @if (lesson.Tags.Count > 0 && classes != null)
                                        {
                                            var relevantClasses = new List<Class>();
                                            foreach (var _class in classes)
                                            {
                                                bool isForClass = true;
                                                if (ViewData.ContainsKey("SchoolClass") && ViewData.ContainsKey("SchoolYear") && !string.IsNullOrWhiteSpace(_class.SchoolClass))
                                                {
                                                    isForClass = _class.SchoolClass.Contains((char)ViewData["SchoolClass"]) && _class.SchoolClass.Contains((string)ViewData["SchoolYear"]);
                                                }

                                                if (lesson.Tags.Contains(_class.Tag) && isForClass)
                                                {
                                                    relevantClasses.Add(_class);
                                                }
                                            }

                                            if (relevantClasses.Count > 0)
                                            {
                                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu@(lessonRow * 10 + dayColumn)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Kurs
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu@(lessonRow * 10 + dayColumn)">
                                                    @foreach (var _class in relevantClasses)
                                                    {
                                                        <li>@_class.Teacher</li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    </td>
                                hasLesson = true;
                            }
                            else if (lesson.DayOfWeek == dayOfWeek && lesson.Number == lessonRow - 1 && lesson.Duration > 1)
                            {
                                hasLesson = true;
                            }
                        }

                        if (!hasLesson)
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>